<!DOCTYPE html>
<html>
    <head>
        <!-- 页面meta -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>TS健康</title>
        <meta name="description" content="预约管理">
        <meta name="keywords" content="预约列表">
        <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../plugins/elementui/index.css">
        <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/style.css">

        <style>
            .avatar-uploader .el-upload {
                border: 1px dashed #d9d9d9;
                border-radius: 6px;
                cursor: pointer;
                position: relative;
                overflow: hidden;
            }
            .avatar-uploader .el-upload:hover {
                border-color: #409EFF;
            }
            .avatar-uploader-icon {
                font-size: 28px;
                color: #8c939d;
                width: 178px;
                height: 178px;
                line-height: 178px;
                text-align: center;
            }
            .avatar {
                width: 178px;
                height: 178px;
                display: block;
            }
            .datatable {
                position: relative;
                box-sizing: border-box;
                -webkit-box-flex: 1;
                width: 100%;
                max-width: 100%;
                font-size: 14px;
                color: rgb(96, 98, 102);
                overflow: hidden;
                flex: 1 1 0%;
            }
            .datatable td, .datatable th {
                padding: 12px 0;
                min-width: 0;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                text-overflow: ellipsis;
                vertical-align: middle;
                position: relative;
                text-align: left;
            }
            .el-input__inner{
                width: 180px;
            }
        </style>
    </head>
    <body class="hold-transition">
        <div id="app">
            <div class="content-header">
                <h1>预约管理<small>检查项管理</small></h1>
                <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
                    <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>预约管理</el-breadcrumb-item>
                    <el-breadcrumb-item>预约列表</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div class="app-container">
                <div class="box">
                    <div class="filter-container">
                        <el-input placeholder="档案号/姓名/手机号" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                        <el-button @click="_findPage()" class="dalfBut">查询</el-button>
                        <el-button type="primary" class="butT" @click="handleCreate()">添加预约</el-button>
                    </div>
                    <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                        <el-table-column type="index" align="center" label="序号"></el-table-column>
                        <el-table-column prop="name" label="会员姓名" align="center"></el-table-column>
                        <el-table-column prop="fileNumber" label="会员档案号" align="center"></el-table-column>
                        <el-table-column prop="phoneNumber" label="会员手机号" align="center"></el-table-column>
                        <el-table-column prop="setmealName" label="套餐名称" align="center"></el-table-column>
                        <el-table-column prop="orderType" label="预约类型" align="center"></el-table-column>
                        <el-table-column prop="orderStatus" label="预约状态" align="center" width="200px">
                            <!--切换预约状态-->
                            <template slot-scope="scope">
                                <el-switch
                                        active-text="已到诊"
                                        inactive-text="未到诊"
                                        v-model="scope.row.orderStatus === '已到诊'"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949"
                                        @change="orderStatusSwitch(scope.row)">
                                </el-switch>
                            </template>
                        </el-table-column>
                        <el-table-column prop="orderDate" label="预约日期" align="center"></el-table-column>
                        <el-table-column prop="addressName" label="预约地址" align="center"></el-table-column>
                        <el-table-column label="预约操作" align="center" width="200px">
                            <template slot-scope="scope">
                                <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑预约</el-button>
                                <el-button size="mini" type="danger" @click="handleDelete(scope.row)">取消预约</el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                    <!--分页栏-->
                    <div class="pagination-container">
                        <el-pagination
                                width=100px
                                class="pagiantion"
                                @current-change="handleCurrentChange"
                                :current-page="pagination.currentPage"
                                :page-size="pagination.pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="pagination.total">
                        </el-pagination>
                    </div>
                    <!--添加预约窗口-->
                    <div class="add-form">
                        <el-dialog title="新增预约" :visible.sync="dialogFormVisible">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="姓名" prop="name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="手机号" prop="telephone">
                                                        <el-input v-model="formData.telephone"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="预约时间" prop="orderDate">
                                                        <el-date-picker
                                                                v-model="formData.orderDate"
                                                                type="date"
                                                                value-format="yyyy-MM-dd"
                                                                placeholder="选择日期">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="出生日期">
                                                        <el-date-picker
                                                                v-model="formData.birthday"
                                                                type="date"
                                                                value-format="yyyy-MM-dd"
                                                                placeholder="选择日期">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="性别">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="男" value="1"></el-option>
                                                            <el-option label="女" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="年龄">
                                                        <el-input v-model="formData.age"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="身份证号">
                                                        <el-input v-model="formData.idCard"/>
                                                    </el-form-item>
                                                </el-col>
<!--                                                <el-col :span="12">-->
<!--                                                    <el-form-item label="婚姻状态">-->
<!--                                                        <el-select v-model="formData.marriyStatus">-->
<!--                                                            <el-option label="未婚" value="0"></el-option>-->
<!--                                                            <el-option label="已婚" value="1"></el-option>-->
<!--                                                        </el-select>-->
<!--                                                    </el-form-item>-->
<!--                                                </el-col>-->
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="套餐信息" name="second">
                                        <el-table
                                                :data="tableData"
                                                style="width: 100%" >
                                            <!--单选-->
                                            <el-table-column type="index" label="单选" align="center" width="80px">
                                                <template slot-scope="scope">
                                                    <el-radio v-model="setmealId" :label="scope.row.id" @change="changeRedio($event,scope.row)">&nbsp;</el-radio>
                                                </template>
                                            </el-table-column>

                                            <el-table-column
                                                    prop="name"
                                                    label="套餐名称"
                                                    width=150px>
                                            </el-table-column>
                                            <el-table-column prop="sex" label="适用人群" width=100px align="center">
                                                <template slot-scope="scope">
                                                    <span v-if="scope.row.sex==0">不限</span>
                                                    <span v-if="scope.row.sex==1">男</span>
                                                    <span v-if="scope.row.sex==2">女</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="remark"
                                                    label="套餐介绍"
                                                    width=300px>
                                            </el-table-column>
                                        </el-table>
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible = false">取消</el-button>
                                <el-button type="primary" @click="handleAdd()">点击预约</el-button>
                            </div>
                        </el-dialog>
                    </div>
                    <!--编辑预约窗口-->
                    <div class="edit-form">
                        <el-dialog title="编辑预约" :visible.sync="dialogFormVisible4Edit">
                            <template>
                                <el-tabs v-model="activeName" type="card">
                                    <el-tab-pane label="基本信息" name="first">
                                        <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right" label-width="100px">
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="姓名" prop="name">
                                                        <el-input v-model="formData.name"/>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="手机号" prop="telephone">
                                                        <el-input v-model="formData.telephone"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="预约时间" prop="orderDate">
                                                        <el-date-picker
                                                                v-model="formData.orderDate"
                                                                type="date"
                                                                value-format="yyyy-MM-dd"
                                                                placeholder="选择日期">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="出生日期">
                                                        <el-date-picker
                                                                v-model="formData.birthday"
                                                                type="date"
                                                                placeholder="选择日期">
                                                        </el-date-picker>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="性别">
                                                        <el-select v-model="formData.sex">
                                                            <el-option label="男" value="1"></el-option>
                                                            <el-option label="女" value="2"></el-option>
                                                        </el-select>
                                                    </el-form-item>
                                                </el-col>
                                                <el-col :span="12">
                                                    <el-form-item label="年龄">
                                                        <el-input v-model="formData.age"/>
                                                    </el-form-item>
                                                </el-col>
                                            </el-row>
                                            <el-row>
                                                <el-col :span="12">
                                                    <el-form-item label="身份证号">
                                                        <el-input v-model="formData.idCard"/>
                                                    </el-form-item>
                                                </el-col>
                                                <!--                                                <el-col :span="12">-->
                                                <!--                                                    <el-form-item label="婚姻状态">-->
                                                <!--                                                        <el-select v-model="formData.marriyStatus">-->
                                                <!--                                                            <el-option label="未婚" value="0"></el-option>-->
                                                <!--                                                            <el-option label="已婚" value="1"></el-option>-->
                                                <!--                                                        </el-select>-->
                                                <!--                                                    </el-form-item>-->
                                                <!--                                                </el-col>-->
                                            </el-row>
                                        </el-form>
                                    </el-tab-pane>
                                    <el-tab-pane label="套餐信息" name="second">
                                        <el-table
                                                :data="tableData"
                                                style="width: 100%" >
                                            <!--单选-->
                                            <el-table-column type="index" label="单选" align="center" width="80px">
                                                <template slot-scope="scope">
                                                    <el-radio v-model="setmealId" :label="scope.row.id" @change="changeRedio($event,scope.row)">&nbsp;</el-radio>
<!--                                                    <el-checkbox v-model="setmealIds" :label="scope.row.id" @change="changeRedio($event,scope.row)">&nbsp;</el-checkbox>-->
                                                </template>
                                            </el-table-column>

                                            <el-table-column
                                                    prop="name"
                                                    label="套餐名称"
                                                    width=150px>
                                            </el-table-column>
                                            <el-table-column prop="sex" label="适用人群" width=100px align="center">
                                                <template slot-scope="scope">
                                                    <span v-if="scope.row.sex==0">不限</span>
                                                    <span v-if="scope.row.sex==1">男</span>
                                                    <span v-if="scope.row.sex==2">女</span>
                                                </template>
                                            </el-table-column>
                                            <el-table-column
                                                    prop="remark"
                                                    label="套餐介绍"
                                                    width=300px>
                                            </el-table-column>
                                        </el-table>
<!--                                        <div class="checkScrol">-->
<!--                                            <table class="datatable">-->
<!--                                                <thead>-->
<!--                                                <tr>-->
<!--                                                    <th>选择</th>-->
<!--                                                    <th>套餐名称</th>-->
<!--                                                    <th>适用人群</th>-->
<!--                                                    <th>套餐介绍</th>-->
<!--                                                </tr>-->
<!--                                                </thead>-->
<!--                                                <tbody>-->
<!--                                                <tr v-for="c in tableData">-->
<!--                                                    <td width=10%>-->
<!--&lt;!&ndash;                                                        <input :id="c.id" v-model="setmealIds" type="checkbox" :value="c.id">&ndash;&gt;-->
<!--                                                        <input :id="c.id" v-model="setmealIds" type="radio" :value="c.id">-->
<!--                                                    </td>-->
<!--                                                    <td width=20%>-->
<!--                                                        <label :for="c.id">{{c.name}}</label>-->
<!--                                                    </td>-->
<!--                                                    <td width=15%>-->
<!--                                                        <label :for="c.id">-->
<!--                                                            {{ c.sex == '0' ? '不限' : c.sex == '1' ? '男' : '女'}}-->
<!--                                                        </label>-->
<!--                                                    </td>-->
<!--                                                    <td width=55%>-->
<!--                                                        <label :for="c.id">{{c.remark}}</label>-->
<!--                                                    </td>-->
<!--                                                </tr>-->
<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->
                                    </el-tab-pane>
                                </el-tabs>
                            </template>
                            <div slot="footer" class="dialog-footer">
                                <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                                <el-button type="primary" @click="handleEdit()">确定</el-button>
                            </div>
                        </el-dialog>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script>
        var vue = new Vue({
            el: '#app',
            data:{
                // value:true,
                activeName:'first',//添加/编辑窗口Tab标签名称
                pagination: {//分页相关模型数据
                    currentPage: 1,//当前页码
                    pageSize:10,//每页显示的记录数
                    total:0,//总记录数
                    queryString:null//查询条件
                },
				dataList: [],//当前页要展示的分页列表数据
                formData: {},//表单数据
                tableData:[],//添加表单窗口中套餐数据
                dialogFormVisible: false,//增加表单是否可见
                dialogFormVisible4Edit:false,//编辑表单是否可见
                // setmealIds:[],//添加表单窗口中套餐复选框对应id
                setmealId:'',//添加表单窗口中套餐单选框对应id
                rules: {//校验规则
                    name: [{ required: true, message: '姓名为必填项', trigger: 'blur' }],
                    telephone: [{ required: true, message: '手机号为必填项', trigger: 'blur' }],
                    orderDate: [{ required: true, message: '预约时间为必填项', trigger: 'blur' }]
                }
            },
            //钩子函数，VUE对象初始化完成后自动执行
            created() {
                this.findPage();
            },
            methods: {
                //切换预约状态
                orderStatusSwitch(row){
                    // alert(row.orderStatus)
                    var switchStatus = row.orderStatus === '未到诊' ? '已到诊' : '未到诊' ;
                    // alert(switchStatus);
                    axios.post("/localOrder/orderStatusSwitch.do",{"id":row.id,"orderStatus":switchStatus}).then((resp)=>{
                        if(resp.data.flag) {
                         this.$message({
                             type:'success',
                             message:resp.data.message
                         })
                        }
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    }).finally(()=>{
                        this.findPage();
                    })
                },
                //添加
                handleAdd () {
                    this.$refs['dataAddForm'].validate((valid)=>{
                        if(valid){
                            axios.post("/localOrder/submit.do?setmealId="+this.setmealId,this.formData).then((res)=>{
                                if(res.data.flag){
                                    //执行成功
                                    this.$message({
                                        type:'success',
                                        message:res.data.message
                                    });
                                }else{
                                    //执行失败
                                    this.$message.error(res.data.message);
                                }
                            }).catch((resp)=>{
                                this.showMessage(resp);
                            }).finally(() => {
                                //关闭添加窗口
                                this.dialogFormVisible=false;
                                //执行分页查询
                                this.findPage();
                            });
                        }else{
                            this.$message.error("表单数据校验失败!");
                            return false;
                        }
                    });

                },
                //编辑
                handleEdit() {
                    this.$refs['dataEditForm'].validate((valid)=>{
                        if(valid){
                            axios.post("/localOrder/editOrder.do?setmealId="+this.setmealId,this.formData).then((resp)=>{
                                if(resp.data.flag) {
                                    this.dialogFormVisible4Edit = false;
                                    this.$message({
                                        type:'success',
                                        message:resp.data.message
                                    });
                                } else {
                                    this.$message.error(resp.data.message);
                                }
                            }).catch((resp)=>{
                                this.showMessage(resp);
                            }).finally(()=>{
                                this.findPage();
                            });
                        }else{
                            this.$message.error("表单数据校验失败!");
                            return false;
                        }
                    });
                },
                // 弹出添加窗口
                handleCreate() {
                    this.dialogFormVisible=true;
                    this.resetForm();
                    axios.post("/setmeal/findAll.do").then((res)=>{
                        this.tableData=res.data.data;
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    })
                },
                // 弹出编辑窗口
                handleUpdate(row) {
                    this.dialogFormVisible4Edit = true;
                    this.resetForm();
                    //1.回显预约基本信息
                    axios.get("/localOrder/findById.do?id="+row.id).then((resp)=>{
                        if (resp.data.flag) {
                            this.formData = resp.data.data;
                        } else {
                            this.$message.error(resp.data.message);
                            return false;
                        }
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    });
                    //2.回显所有套餐信息
                    axios.get("/setmeal/findAll.do").then((resp)=>{
                        if (resp.data.flag) {
                            this.tableData=resp.data.data;
                        } else {
                            this.$message.error(resp.data.message);
                            return false;
                        }
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    });
                    //3.回显当前预约所选的套餐
                    axios.get("/localOrder/findSetmealId.do?id="+row.id).then((resp)=>{
                        if (resp.data.flag) {
                            this.setmealId = resp.data.data;
                        } else {
                            this.$message.error(resp.data.message);
                        }
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    });
                },
                // 删除
                handleDelete(row) {
                    this.$confirm("数据删除后将无法恢复，请确认是否删除?","提示",{
                        type: 'warning'
                    }).then(()=>{
                        axios.get("/localOrder/deleteOrderById.do?id="+row.id).then((resp)=>{
                            if(resp.data.flag){
                                //执行成功 弹出成功提示信息
                                this.$message({
                                    type:'success',
                                    message:resp.data.message
                                });
                            }else{
                                //执行失败
                                this.$message.error(resp.data.message);
                            }
                        }).catch((r)=>{
                            this.showMessage(r);
                        }).finally(()=>{
                            //重新进行分页查询
                            this.findPage();
                        });
                    }).catch(()=>{
                        this.$message({
                            type:'info',
                            message:'操作已取消'
                        })
                    });
                },
                //分页查询
                findPage() {
                    var param={
                        //当前页码
                        currentPage: this.pagination.currentPage,
                        //显示数量
                        pageSize: this.pagination.pageSize,
                        //查询字段
                        queryString: this.pagination.queryString
                    }
                    axios.post("/localOrder/findOrdersPage.do",param).then((resp)=>{
                        this.pagination.total=resp.data.total;
                        this.dataList=resp.data.rows;
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    });
                },
                _findPage() {
                    this.pagination.currentPage = 1;
                    this.findPage();
                },
                //切换页码
                handleCurrentChange(currentPage) {
                    this.pagination.currentPage=currentPage;
                    this.findPage();
                },
                // 重置表单
                resetForm() {
                    this.formData={};
                    this.activeName = 'first';
                    this.setmealId='';
                },
                showMessage(r){
                    if(r == 'Error: Request failed with status code 403'){
                        //权限不足
                        this.$message.error('无访问权限');
                        return;
                    }else{
                        this.$message.error('未知错误');
                        return;
                    }
                }
            }
        })
    </script>
</html>