<!DOCTYPE html>
<html>
<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TS健康</title>
    <meta name="description" content="TS健康">
    <meta name="keywords" content="TS健康">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }

        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>权限设置<small>权限管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>权限设置</el-breadcrumb-item>
            <el-breadcrumb-item>权限管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <el-input placeholder="权限名称" v-model="pagination.queryString" style="width: 200px;"
                          class="filter-item" @keyup.enter.native="handleFilter"></el-input>
                <el-button @click="_findPage()" class="dalfBut">查询</el-button>
                <el-button type="primary" class="butT" @click="handleCreate()">新建</el-button>
            </div>
            <el-table size="small" current-row-key="id" :data="dataList" stripe highlight-current-row>
                <!--<el-table-column type="selection" width="55"></el-table-column>-->
                <el-table-column type="index" align="center" label="序号"></el-table-column>
                <el-table-column prop="name" align="center" label="权限名称"></el-table-column>
                <el-table-column prop="keyword" label="关键字" align="center"></el-table-column>
                <el-table-column prop="description" label="描述" align="center"></el-table-column>
                <el-table-column prop="enable" label="是否启用" align="center">
                    <template slot-scope="scope">
                        <!--<span>{{ scope.row.enable == '0' ? '否' : '是'}}</span>-->
                        <el-switch
                                active-text="是"
                                inactive-text="否"
                                v-model="scope.row.enable === 1"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                @change="enableSwitch(scope.row)">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column label="操作" align="center">
                    <template slot-scope="scope">
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">编辑</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-sizes="pagination.pageSizes"
                        :page-size="pagination.pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增权限" :visible.sync="dialogFormVisible">
                    <el-form ref="dataAddForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="权限名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="关键字" prop="keyword">
                                    <el-input v-model="formData.keyword"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="是否启用" prop="enable">
                                    <el-select v-model="formData.enable">
                                        <!--<el-option label="是" value="1"></el-option>
                                        <el-option label="否" value="0"></el-option>-->
                                        <el-option  v-for="item in enables"
                                                    :label="item.key"
                                                    :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="权限说明">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="edit-form">
                <el-dialog title="编辑权限" :visible.sync="dialogFormVisible4Edit">
                    <el-form ref="dataEditForm" :model="formData" :rules="rules" label-position="right"
                             label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="权限名称" prop="name">
                                    <el-input v-model="formData.name"/>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="关键字" prop="keyword">
                                    <el-input v-model="formData.keyword"/>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="是否启用" prop="enable">
                                    <el-select v-model="formData.enable">
                                        <!--<el-option label="是" value="1"></el-option>
                                        <el-option label="否" value="0"></el-option>-->
                                        <el-option  v-for="item in enables"
                                                    :label="item.key"
                                                    :value="item.value">
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-form-item label="权限类型说明">
                                    <el-input v-model="formData.description" type="textarea"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    let vue = new Vue({
        el: '#app',
        data: {
            pagination: {//分页相关属性
                currentPage: 1,
                pageSize: 10,
                pageSizes: [10, 20, 30, 40, 50, 100, 200, 300, 400],
                total: 100,
                queryString: null,
            },
            dataList: [],//列表数据
            formData: {},//表单数据
            tableData: [],//新增和编辑表单中对应的检查项列表数据
            dialogFormVisible: false,//控制添加窗口显示/隐藏
            dialogFormVisible4Edit: false,//控制编辑窗口显示/隐藏
            rules: {//校验规则
                keyword: [{required: true, message: '关键字为必填项', trigger: 'blur'}],
                name: [{required: true, message: '权限名称为必填项', trigger: 'blur'}],
                enable: [{required: true, message: '是否启用为必填项', trigger: 'blur'}]
            },
            enables:[{'key':'是','value':1},{'key':'否','value':0}]
        },
        created() {
            this.findPage();
        },
        methods: {
            // 弹出添加窗口
            handleCreate() {
                this.dialogFormVisible = true;
                this.resetForm();
            },
            //添加
            handleAdd() {
                this.$refs["dataAddForm"].validate(result => {
                    if (result) {
                        axios.post("/permission/add.do", this.formData).then((resp) => {
                            if (resp.data.flag) {
                                this.$message.success(resp.data.message);
                                this.dialogFormVisible = false;
                            } else {
                                this.$message.error(resp.data.message);
                            }
                        }).catch((resp)=>{
                            this.showMessage(resp);
                        }).finally(() => {
                            this.findPage();
                        });
                    }
                });
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.dialogFormVisible4Edit = true;
                //发送ajax请求，获取当前权限项数据，渲染到页面上
                axios.get("/permission/findById.do?id=" + row.id).then((resp) => {
                    this.formData=resp.data.data;
                }).catch((resp)=>{
                    this.showMessage(resp);
                });
            },
            //编辑
            handleEdit() {
                this.$refs["dataEditForm"].validate(result => {
                    if (result) {
                        axios.post("/permission/edit.do", this.formData).then(res => {
                            if (res.data.flag) {
                                this.$message.success(res.data.message);
                                this.dialogFormVisible4Edit = false;
                            } else {
                                this.$message.error(res.data.message);
                            }
                        }).catch((resp)=>{
                            this.showMessage(resp);
                        }).finally(() => {
                            this.findPage();
                        });
                    }
                });
            },
            //分页查询
            findPage() {
                //将查询条件封装成json对象
                let param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                axios.post("/permission/findPage.do", param).then((resp) => {
                    this.dataList = resp.data.rows;
                    this.pagination.total = resp.data.total;
                }).catch((resp)=>{
                    this.showMessage(resp);
                });
            },
            //条件查询
            _findPage() {
                this.pagination.currentPage = 1;
                this.findPage();
            },
            //切换启用状态
            enableSwitch(row){
                //alert(row.enable);
                var newEnable = row.enable === 0 ? 1 : 0;
                //alert(newEnable);
                axios.get("/permission/switchEnable.do?id="+row.id+"&enable="+newEnable).then((resp)=>{
                    if(resp.data.flag) {
                        this.$message({
                            type:'success',
                            message:resp.data.message
                        });
                    } else {
                        this.$message.error(resp.data.message);
                    }
                }).catch((resp)=>{
                    this.showMessage(resp);
                }).finally(()=>{
                    this.findPage();
                });
            },
            //切换页码
            handleCurrentChange(currentPage) {
                this.pagination.currentPage = currentPage;
                this.findPage();
            },
            //切换页面数据数量
            handleSizeChange(pageSize) {
                this.pagination.pageSize = pageSize;
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                this.$confirm('此操作将永久删除当前数据, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get("/permission/delete.do?id=" + row.id).then((resp) => {
                        if (resp.data.flag) {
                            this.$message({
                                type: 'success',
                                message: resp.data.message
                            });
                        } else {
                            this.$message.error(resp.data.message);
                        }
                    }).catch((resp)=>{
                        this.showMessage(resp);
                    }).finally(() => {
                        //分页查询
                        this.findPage();
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            // 重置表单
            resetForm() {
                //重置输入框中的数据
                this.formData = {};
                this.tableData = [];
                this.activeName = "first";
            },
            //权限不足提示
            showMessage(resp){
                if(resp == 'Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('无访问权限');
                    return;
                }else{
                    this.$message.error('未知错误');
                    return;
                }
            }
        }
    })
</script>
</html>
